{% extends "partials/conteneur.html" %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur le site de la prosopographie nobiliaire en Île-de-France</h1>

        {%if donnees%}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom de baptême et Lignage de l'individu</th>
                    <th scope="col">?</th>
                    <th scope="col">?</th>
                    <th scope="col">?</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {%for individu in donnees%}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{url_for('un_individu',id_individu=individu.identifindividu)}}">{{individu.nomindividu}}</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
    </div>

{% endblock %}