{% extends "partials/conteneur.html" %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur le site de la prosopographie nobiliaire en Île-de-France</h1>

        <!-- Cas où des données sont reçues-->
        {%if donnees%}
            <!--Construction du système de paginations-->
            {% if pagination.pages > 1 %}
              <nav aria-label="Navigation des pages">
                  <ul class="pagination">
                      {% for page in pagination.iter_pages() %}
                      {% if page %}
                          <li class="page-item {% if page == pagination.page %}active{% endif %}">
                          <a class="page-link" href="{{ url_for('all_individus', page=page) }}">{{ page }}</a>
                          </li>
                      {% else %}
                          <li class="page-item disabled"><span class="page-link">...</span></li>
                      {% endif %}
                      {% endfor %}
                  </ul>
              </nav>
            {% endif %}
            <!--Affichage de la liste des individus-->
            <table class="table table-striped table-borderd">
              <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom de baptême et Lignage de l'individu</th>
                        <th scope="col">Numéro dans le lignage</th>
                        <th scope="col">Début d'apparition dans les textes</th>
                        <th scope="col">FIn d'apparition dans les textes</th>
                    </tr>
                </thead>
                <tbody>
                    {%for individu in donnees%}
                    <tr>
                        <td><div "col-sm-6 col-md-4 col-lg-3 mb-4">{{loop.index}}</div>
                        </td>
                        <td>
                          <div "col-sm-6 col-md-4 col-lg-3 mb-4"><a href="{{url_for('un_individu',id_individu=individu.identifindividu)}}">{{individu.nomindividu}}</a></div>
                        </td> <!--Le numéro de lignage n'existe pas toujours - le cas est prévu ici-->
                        {% if individu.numindividu and individu.numindividu != "NULL" %}
                            <td>
                              <!--COnstruction du lien d el'individu vers sa fiche individuelle-->
                              <div "col-sm-6 col-md-4 col-lg-3 mb-4"><a href="{{url_for('un_individu',id_individu=individu.identifindividu)}}">{{individu.numindividu}}</a></div>
                            </td>
                        {% else %}
                           <td>
                            <div "col-sm-6 col-md-4 col-lg-3 mb-4"></div>
                           </td>
                        {%endif %}
                        {% if individu.debappindividu and individu.debappindividu != "NULL" %}
                            <td><!--Les débuts et fins d'apparition des individus dans les textes ne sont pas toujours connus-->
                              <div "col-sm-6 col-md-4 col-lg-3 mb-4"><a href="{{url_for('un_individu',id_individu=individu.identifindividu)}}">{{individu.debappindividu}}</a></div>
                            </td>
                        {% else %}
                          <td>
                            <div "col-sm-6 col-md-4 col-lg-3 mb-4"></div>
                          </td>
                        {%endif %}
                        {% if individu.finappindividu and individu.finappindividu != "NULL" %}
                          <td><!--Les débuts et fins d'apparition des individus dans les textes ne sont pas toujours connus-->
                            <div "col-sm-6 col-md-4 col-lg-3 mb-4"><a href="{{url_for('un_individu',id_individu=individu.identifindividu)}}">{{individu.finappindividu}}</a></div>
                          </td>
                        {% else %}
                            <td>
                              <div "col-sm-6 col-md-4 col-lg-3 mb-4"></div>
                            </td>
                        {%endif %}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <!--Affichage du système de paginations en bas de page aussi-->
            {% if pagination.pages > 1 %}
            <nav aria-label="Navigation des pages">
              <ul class="pagination">
                {% for page in pagination.iter_pages() %}
                  {% if page %}
                    <li class="page-item {% if page == pagination.page %}active{% endif %}">
                      <a class="page-link" href="{{ url_for('all_individus', page=page) }}">{{ page }}</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
            {% endif %}
        {%endif%}
    </div>

{% endblock %}