{% extends "partials/conteneur.html" %}

{% block body %}


<div class="container mt-4">
    <h1>Bienvenue sur le site de la prosopographie nobiliaire de l'Île-de-France</h1>

    <div class="row">
        <h2> Etat civil de l'individu </h2>
    </div>

    <table class="table table-striped table-borderd">
        <thead class="thead-light">

            <tr>
                <th>Identifiant individu : {{donnee.IND_id}} </th>
                <th>NAISSANCE</th>
                <th>ETAT MARITAL</th>
                <th>DECES</th>
            </tr>
         </thead>

                 <tbody> 
                    <tr>
                        <td>
                            <div "col-sm-4 col-md-4 col-lg-3 mb-4">
                            {%if donnee.NUM_lignage and donnee.NUM_lignage!="NULL"%}
                                <p><b>Nom de baptême</b> : {{donnee.IND_prenom}} {{donnee.NUM_lignage}}</p>
                            {%else%}
                                <p><b>Nom de baptême</b> : {{donnee.IND_prenom}}</p>
                            {%endif%}

                            <p><b>Nom de lignage</b> : {{donnee.IND_lignage}} </p> 

                            {%if donnee.IND_sexe=="M"%}
                                <p>Sexe masculin</p>
                            {%else%}
                                <p>Sexe féminin</p>
                            {%endif%}
                            </div>
                        </td>
                        <td>
                            <div "col-sm-4 col-md-4 col-lg-3 mb-4">       
                            {%if donnee.IND_dat_naissance and donnee.IND_dat_naissance!="NULL"%}
                                <p><b>Date de naissance précise</b> : {{donnee.IND_dat_naissance}} </p> 
                            {%else%}
                                <p><b>Date de naissance précise</b> : inconnue</p> 
                                    <p><b>INTERVALLE DE DATEs ESTIMEE :</b></p>
                                        {%if donnee.IND_dat_naiss_approx_1 and donnee.IND_dat_naiss_approx_1!="NULL" and donnee.IND_dat_naiss_approx_2 and donnee.IND_dat_naiss_approx_2!="NULL"%}
                                            <p>Entre {{donnee.IND_dat_naiss_approx_1}} et {{donnee.IND_dat_naiss_approx_2}} </p> 
                                        {%elif donnee.IND_dat_naiss_approx_1 and donnee.IND_dat_naiss_approx_1!="NULL" and donnee.IND_dat_naiss_approx_2 and donnee.IND_dat_naiss_approx_2=="NULL"%}
                                            <p>Date de naissance à partir de {{donnee.IND_dat_naiss_approx_1}} et fin de l'intervalle inconnu</p>
                                        {%elif donnee.IND_dat_naiss_approx_1 and donnee.IND_dat_naiss_approx_1=="NULL" and donnee.IND_dat_naiss_approx_2 and donnee.IND_dat_naiss_approx_2!="NULL"%}
                                            <p>Date de naissance avant {{donnee.IND_dat_naiss_approx_2}} et début de l'intervalle inconnu</p>
                                        {%else%}
                                            <p>Intervalle inconnue</p>
                                        {%endif%}
                            {%endif%}
                            <p><b>Dates d'apparition dans les textes :</b></p>
                                        {%if donnee.IND_dat_deb_apparition and donnee.IND_dat_deb_apparition!="NULL" and donnee.IND_dat_fin_apparition and donnee.IND_dat_fin_apparition!="NULL"%}
                                            <p>Entre ntre {{donnee.IND_dat_deb_apparition}} et {{donnee.IND_dat_fin_apparition}}</p> 
                                        {%elif donnee.IND_dat_deb_apparition and donnee.IND_dat_deb_apparition=="NULL" and donnee.IND_dat_fin_apparition and donnee.IND_dat_fin_apparition!="NULL"%}
                                            <p>Date de début d'apparition des textes le {{donnee.IND_dat_deb_apparition}} et date de fin d'apparition inconnue</p>
                                        {%elif donnee.IND_dat_deb_apparition and donnee.IND_dat_deb_apparition!="NULL" and donnee.IND_dat_fin_apparition and donnee.IND_dat_fin_apparition=="NULL"%}
                                            <p>date de fin d'apparition dans les textes le{{donnee.IND_dat_fin_apparition}} et début d'apparition dans les textes inconnu</p>
                                        {%else%}
                                            <p>Dates d'apparition dans les textes inconnues</p>
                                        {%endif%}
                        
                        
                            <p>LIEU DE NAISSANCE</p>
                            {%if donnee.IND_naiss_lieu and donnee.IND_naiss_lieu!="NULL"%}
                                <p>{{donnee.IND_naiss_lieu}}</p>
                            {%else%}
                                <p>Lieu de naissance inconnu</p>
                            {%endif%}
                            </div>
                        </td>
                        <td>
                            <div "col-sm-4 col-md-4 col-lg-3 mb-4">
                            {%if donnee.IND_mariage=="O"%}
                                <p>Marié</p>
                            {%else%}
                                <p>Célibataire ou veuf</p>
                            {%endif%}
                            </div>
                        </td>
                        <td>
                            <div "col-sm-4 col-md-4 col-lg-3 mb-4">
                            {%if donnee.IND_dat_deces and donnee.IND_dat_deces!="NULL"%}
                                <p><b>Date de décès précise</b> : {{donnee.IND_dat_deces}}</p> 
                            {%else%}
                                <p><b>Date de décès précise</b> : inconnue</p> 
                                    <p><b>INTERVALLE DE DATEs ESTIMEE :</b></p>
                                        {%if donnee.IND_dat_deces_approx_1 and donnee.IND_dat_decesapprox_1!="NULL" and donnee.IND_dat_deces_approx_2 and donnee.IND_dat_deces_approx_2!="NULL"%}
                                        <p>Entre {{donnee.IND_dat_deces_approx_1}} et {{donnee.IND_dat_deces_approx_2}} </p>  
                                        {%elif donnee.IND_dat_deces_approx_1 and donnee.IND_dat_deces_approx_1!="NULL" and donnee.IND_dat_deces_approx_2 and donnee.IND_dat_deces_approx_2=="NULL"%}
                                            <p>Date de décès à partir de {{donnee.IND_dat_deces_approx_1}} et fin de l'intervalle inconnu</p>
                                        {%elif donnee.IND_dat_deces_approx_1 and donnee.IND_dat_deces_approx_1=="NULL" and donnee.IND_dat_deces_approx_2 and donnee.IND_dat_deces_approx_2!="NULL"%}
                                            <p>Date de décès avant {{donnee.IND_dat_deces_approx_2}} et début de l'intervalle inconnu</p>
                                        {%else%}
                                            <p>Intervalle inconnue</p>
                                        {%endif%}
                            {%endif%}
                        
                            <p>LIEU DE DECES</p>
                            {%if donnee.IND_deces_lieu and donnee.IND_deces_lieu!="NULL"%}
                                <p>{{donnee.IND_deces_lieu}}</p>
                            {%else%}
                                <p>Lieu de décès inconnu</p>
                            {%endif%}
                            </div>
                        </td>
                    </tr>
                </tbody>
        </table>
        <table>
                <thead>    
                    <tr>
                        <th>DOCUMENTATION-BIBLIOGRAPHIE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                                {%if donnee.IND_deces and donnee.IND_deces!="NULL"%}
                                    <p>{{donnee.IND_deces}}</p>
                                {%else%}
                                    <p>Documentation non identifiée</p>
                                {%endif%}
                                {% if wikidata_result and 'url' in wikidata_result %}
                                    <a href="{{ wikidata_result['url'] }}" target="_blank">Voir cet individu sur Wikidata</a>
                                {% else %}
                                   <p>Aucun lien vers Wikidata trouvé.</p>
                                {% endif %}
                        </td>
                    </tr>
                </tbody>
        </table>
        {%if carrieres%}
        <div class="row">
            <h2> Ensemble de la carrière </h2>
        </div>
        <table class="table table-striped table-bordered"> 
                <thead>    
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Chef de faction</th>
                        <th scope="col">Date de début de carrière</th>
                        <th scope="col">Date de fin de carrière</th>
                        <th scope="col">Libellé de l'élément de carrière</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Description</th>
                        <th scope="col">Référence</th>
                    </tr>
                </thead>

                <tbody> 
                    {%for carriere in carrieres%}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                            <td>{{carriere.nomIndividu_2}}</td>
                            <td>{{carriere.Date_debut}}</td>
                            <td>{{carriere.Date_fin}}</td>
                            <td>{{carriere.Type_carriere_libelle}}</td>
                            <td>{{carriere.Type_carriere_groupe}}</td>
                            <td>{{carriere.Element_de_carriere}}</td>
                            <td>{{carriere.Référence_carriere}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
        </table>
        {%endif%}
    </div>

{% endblock %}
